yarn-offline-mirror=./yarn-offline-mirror
registry=https://registry.npmjs.org/
always-auth=false
auto-install-peers=false
extend-node-path=false
link-workspace-packages=true
prefer-workspace-packages=true
save-workspace-protocol=false
package-import-method=clone-or-copy
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*eslint-config*
public-hoist-pattern[]=*eslint-plugin*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*gulp*
public-hoist-pattern[]=*watchpack*
public-hoist-pattern[]=*lodash*
public-hoist-pattern[]=@bingads-webui-tool/cli-for-nodejs14
public-hoist-pattern[]=@bingads-webui-tool/task-proxy-for-nodejs14
public-hoist-pattern[]=@bingads-webui-tool/build-instrumentation
public-hoist-pattern[]=@bingads-webui-tool/options
public-hoist-pattern[]=pug-parser
public-hoist-pattern[]=pug-runtime
public-hoist-pattern[]=istanbul-lib-coverage
